* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #282D35;
}

nav {
    display: flex;
    background-color: #21222A;
    align-items: center;
    padding: 30px 25px;
    height: 90px;
}

.nav--logo_text {
    color: #61DAFB;
    margin-right: auto;
    font-size: 39px;
    font-weight: 600;
}

.nav--logo {
    height: 50px;
    margin-right: 7px;
}

.nav--title {
    color: #DEEBF8;
    font-weight:lighter;
    font-size: 16px;

}

main {
    padding: 57px 27px;
    color: white;
    background-image: url(../../images/half_owl.png);
    background-repeat: no-repeat;
    background-position: right 75%;
}

.main--subtitle {
    font-weight: 600;
    margin: 0px;
    letter-spacing: -0.05em;
}

.main--list_items {
    font-size: 16px;
    font-weight: 100;
    padding-left: 75px;
}

.main--list_items > li {
    line-height: 19px;
    padding-block: 2px;
}

.main--list_items > li::marker {
    color: #61DAFB;
    font-size: 1.4em;
}
